<div 
class="task" 
[ngClass]="{reminder: task.reminder, complete: task.complete}"
(dblclick)="onToggle(task)"
>
    <h3>
        {{task.text}}
        <div class="icon-tab">
            <fa-icon 
                (click)="onToggle(task)"
                [ngStyle]="{'color': 'grey'}" 
                [icon]="this.task.reminder ? faBellSlash : faBell">
            </fa-icon>
            <fa-icon 
                (click)="onComplete(task)"
                [ngStyle]="{'color': 'green'}" 
                [icon]="this.task.complete ? faRotateRight : faCheck">
            </fa-icon>
            <fa-icon 
                (click)="onDelete(task)"
                [ngStyle]="{'color': 'red'}" 
                [icon]="faTimes">
            </fa-icon>
        </div>
    </h3>
    <p>{{task.day}}</p>
</div>
